@import "../../styles/colors.scss";

.login-root {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 14px;

  .form-section {
    background-color: $primary;
    width: 450px;
    height: 420px;
    padding: 30px 10px;
    text-align: center;

    display: grid;
    align-items: center;
    justify-content: center;

    form {
      width: 300px;
    }

    label {
      font-weight: bold;
    }

    a {
      font-weight: bold;
    }

    button {
      margin-top: 15px;
    }
  }
}
