@import "../../styles/colors.scss";

.register-root {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 14px;

  .form-section {
    background-color: $primary;
    width: 450px;
    height: 500px;
    padding: 20px;

    display: grid;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;

    form {
      width: 300px;
    }

    .icon {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  }
}
