@import "../../styles/colors.scss";

.button-block {
  display: flex;
  color: $white;
  //margin-top: 30px;

  button {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: $primary-light;
    color: $white;
    text-transform: uppercase;

    border: none;
    font-weight: bold;
    line-height: 1.5em;
  }

  button:hover {
    background-color: $blue-light;
    cursor: pointer;
  }

  svg {
    height: 40%;
    margin-right: 8px;
    fill: $white;
  }
}
