@import "../../styles/colors.scss";

.toolbar-root {
  background-color: $primary;
  color: $white;

  .icon {
    //border: 2px solid $grey-light;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  svg {
    cursor: pointer;
  }
}
