@import "../../styles/colors.scss";

.grid-root {
  display: flex;

  .section-left {
    width: 50%;
    margin-right: 15px;
  }

  .section-right {
    width: 50%;
    background-color: $primary;
  }

  .grid-portfolio {
    //display: grid;
    //flex-wrap: wrap;
    //grid-auto-rows: min-content;
    //gap: 16px;
    // grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    height: 90vh;
    color: white;

    .card-portfolio {
      height: 160px;
      background-color: $primary;
      padding: 0 20px;
      display: grid;
      align-content: space-between;
      margin-bottom: 20px;

      .title {
        margin-top: 18px;
        letter-spacing: 2px;
        color: #fff;
        font-size: 0.65rem;
        text-transform: uppercase;
        text-shadow: 0 0 0px lighten(#fff, 20);
        overflow-wrap: anywhere;
        line-height: 1.5;
        cursor: pointer;
      }

      .options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: #fff;

        span {
          font-size: 20px;
          color: yellow;
        }

        svg {
          cursor: pointer;
          color: $white;
          width: 20px;
          height: 20px;
        }
      }
    }

    .selected {
      background-color: $blue-light;
      border-radius: 12px;
    }
  }

  .grid-portfolio::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: grey;
  }

  .grid-portfolio::-webkit-scrollbar {
    width: 7px;
  }

  .grid-portfolio::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fff;
  }

  .tabs-portfolio {
    display: flex;
    font-size: 0.61rem;
    flex-wrap: wrap;
    cursor: pointer;

    .tab {
      background-color: $primary-dark;
      color: grey;
      height: 40px;
      width: 100px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .active {
      background-color: $primary;
      color: #fff;
      font-weight: bold;
    }
  }
}
